@model Course
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=
    , initial-scale=1.0">
    <title>Document</title>
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" >
</head>
<body>
    <p> name: @Model.Name</p>
    <p>description: @Model.Description</p>
    <p>isPushlished: @Model.isPuslished</p>
</body>
</html>